logs
project/project
project/target
target
tmp
.history
.settings/
dist
/.idea
*.iml
**/.idea
**/*.iml
/out
/.idea_modules
.classpath
.project
/RUNNING_PID
nbactions.xml
**/*.bak
**/*.aux
**/*.log
**/*.dvi
**/*.pdf
**/*.gz
**/*.toc
