<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS} %-5level %logger{50} %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="tech.dario.timecomplexityanalysis.agent.MeasuringClassFileTransformer" level="INFO"/>
    <logger name="tech.dario.timecomplexityanalysis.timerecorder.akka" level="DEBUG"/>
    <logger name="akka" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
