<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS} %-5level %logger{50} %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="tech.dario.timecomplexityanalysis.agent.MeasuringClassFileTransformer" level="OFF"/>
    <logger name="tech.dario.timecomplexityanalysis.timerecorder" level="DEBUG"/>
    <logger name="tech.dario.timecomplexityanalysis.sdk" level="DEBUG"/>
    <logger name="tech.dario.timecomplexityanalysis.sdk.mappers.AggregatedMeasurementNodeDebugger" level="DEBUG"/>
    <logger name="tech.dario.timecomplexityanalysis.analyser.Main" level="DEBUG"/>-->
    <logger name="tech.dario.timecomplexityanalysis.analyser.SpeedAndAccuracyTest" level="DEBUG"/>

    <root level="OFF">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
